/* 1. Define the final, active state of the element */
.enter {
  opacity: 1;
  transform: translateY(0);
  
  /* Enable smooth transitions. 'allow-discrete' handles display: none */
  transition: 
    opacity 0.5s ease, 
    transform 0.5s ease, 
    display 0.5s ease allow-discrete;
}

/* 2. Define the starting point before the element appears */
@starting-style {
  .enter {
    opacity: 0;
    transform: translateY(30px);
  }
}

.stroke{
  -webkit-text-stroke:rgb(from color r g b);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}

html {
    scroll-behavior: smooth;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}
file {
  margin-top: 1rem;
}

file::file-selector-button {
  font-weight: bold;
  color: dodgerblue;
  padding: 0.5em;
  border: thin solid grey;
  border-radius: 3px;
}

.dropbtn {
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}


/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}