/* 1. Define the final, active state of the element */
.enter {
  opacity: 1;
  transform: translateY(0);
  
  /* Enable smooth transitions. 'allow-discrete' handles display: none */
  transition: 
    opacity 0.5s ease, 
    transform 0.5s ease, 
    display 0.5s ease allow-discrete;
}

/* 2. Define the starting point before the element appears */
@starting-style {
  .enter {
    opacity: 0;
    transform: translateY(30px);
  }
}

.stroke{
  -webkit-text-stroke:rgb(from color r g b);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}

html {
    scroll-behavior: smooth;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}
